@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Comfortaa&family=Pacifico&display=swap');

h1 {
  font-family: 'Aref Ruqaa Ink', serif;
}

h2 {
  font-family: 'Pacifico', cursive;
}

p {
  font-family: 'Comfortaa', sans-serif;
}
